.header{
    display: flex;
    /* background: var(--grey); */
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 8rem;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.nav-items{
    display: flex;
    list-style: none;
    color: white;
    gap: 2.2rem;
    z-index: 1;
    
}
.nav-items li{
    font-size: 14px;
    font-family:"Montserrat"; 
    cursor: pointer;
    transition: .3s;
    font-weight: 500;
}
.nav-items li:hover{
    color:var(--green);
    transform:scale(1.15);
}
a{
    text-decoration: none;
    color: inherit;
}
.humburger{
    width: 2rem;
}
@media screen and (max-width: 767px) {
    .header>:nth-child(2){
        position: fixed;
        right: 2rem;
        z-index: 11;
    }
    .nav-items{
        top:2rem;
        flex-direction: column;
        background-color: var(--grey);
        padding: 2rem;

    }
}